<form method="GET" action="test.php">
    <label>
        <input type="text" name="keyword" id="textfield">
    </label>
    <label>
        <input type="submit" name="button" id="button" value="Send">
    </label>
</form>